.ui-widget-content { width: 150px; height: 30px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }

.ui-widget-header {background: inherit; width: 150px; height: 150px; padding: 0.5em; float: left;margin: 10px;}